<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>
    <link href="<?=PRELINK?>css/styles.css" rel="stylesheet">
    <script src="<?=PRELINK?>js/admin.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<?//=$user['password'].DS.$hash; ?>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="<?=PRELINK?>admin/"><?=Config::get('site_name')?> - <?=__('lng.admin','Admin section')?>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <?php if(Session::get('username')){?>
                <ul class="nav navbar-nav">
                    <li><a <?php if(App::getRouter()->getController()=='pages'){echo " class='active'";} ?> href="<?=PRELINK?>admin/pages/">Pages</a></li>
                    <li><a <?php if(App::getRouter()->getController()=='contacts'){echo " class='active'";} ?>href="<?=PRELINK?>admin/contacts/">Contact us</a></li>
                    <li><a href="<?=PRELINK?>admin/users/logout">Logout</a> </li>
                </ul>

            <?php } ?>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <?=$data['content']?>
        <br>
<!--        --><?//=__('lng.test2','default value')?>
    </div>

</div><!-- /.container -->








</body>
</html>
